# Sys files
**/.DS_Store

# mdBook
docs/book/

target


**/.gradle/*

lightclientservice/app/build
lightclientservice/target
lightclientservice/local.properties
lightclientservice/.idea

**/*.so

**/.idea/*
